@import url('https://fonts.googleapis.com/css?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat&display=swap');

body {
  padding: 0;
  margin: 0;
/**  box-sizing: border-box; **/
  font-size: 120px;
  /* background-color: black; */
  /* display: flex; */
  font-family: 'Tinos', serif;
}

.pageLayout {
  /* background-color: red; */
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


p {
  margin: 10px;
  padding: 25px;
  /* width: 90%; */
  /* background-color: white; */
}

.first, .third, .fifth {
  /* background-color: white; */
  color: black;
}

.second, .fourth, .sixth {
  /* background-color: black; */
  color: black;
  align-self: flex-end;
  text-align: right;
}

canvas {

}

b, i {
  animation: text-flicker 2s linear infinite;
}

@keyframes text-flicker {
  0% {
    opacity:1;
  }
  10% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.intangibilityDeco {
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
}

.hubrisDeco {
  font-family: 'Gloria Hallelujah', cursive;
}

.fleshDeco {
  font-family: 'Gloria Hallelujah', cursive;
}

.beyondDeco {
  font-family: 'Gloria Hallelujah', cursive;
}

.adageDeco {

}

.submissionDeco{

}

.unstoppableDeco {

}

.exploitDeco {

}

.ascendDeco {

}

.unconcernedDeco{

}

.quote1Deco {
  font-family: 'Walter Turncoat', cursive;
  color: cyan;
}

.quote2Deco {

}

.quote3Deco {
  
}
