@import url('https://fonts.googleapis.com/css?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css?family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zeyada&display=swap');

body {
  padding: 0;
  margin: 0;
/**  box-sizing: border-box; **/
  font-size: 120px;
  /* background-color: black; */
  /* display: flex; */
  font-family: 'Tinos', serif;
}

.pageLayout {
  /* background-color: red; */
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


p {
  margin: 10px;
  padding: 25px;
  /* width: 90%; */
  /* background-color: white; */
}

.first, .third, .fifth {
  /* background-color: white; */
  color: black;
}

.second, .fourth, .sixth {
  /* background-color: black; */
  color: black;
  align-self: flex-end;
  text-align: right;
}

.fourth {
  letter-spacing: 20px;
  font-family: 'Rock Salt', cursive;
  font-size: 80px;
}

.fifth {
  letter-spacing: 30px;
  font-family: 'Rock Salt', cursive;
  font-size: 80px;
}

.sixth {
  letter-spacing: 25px;
  font-family: 'Zeyada', cursive;
  font-size: 100px;
  animation: text-fade 3s linear infinite;
}

@keyframes text-fade {
  0% {
    opacity:1;
  }
  10% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
    color: red;
  }
  60% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

canvas {

}

b, i {
  animation: text-flicker 2s linear infinite;
}

@keyframes text-flicker {
  0% {
    opacity:1;
  }
  10% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.intangibilityDeco {
  font-family: 'Gloria Hallelujah', cursive;
  color: white;
  text-decoration: line-through;
}

.hubrisDeco {
  font-family: 'Gloria Hallelujah', cursive;
}

.fleshDeco {
  font-family: 'Gloria Hallelujah', cursive;
  text-decoration: overline;
}

.beyondDeco {
  font-family: 'Gloria Hallelujah', cursive;
  text-shadow: 5px 5px red;
}

.adageDeco {
  font-family: 'Gloria Hallelujah', cursive;
  text-decoration: overline;
  text-shadow: 2px 2px white;
}

.submissionDeco{
font-family: 'Gloria Hallelujah', cursive;
text-decoration: overline;
text-shadow: 5px 5px red;
}

.unstoppableDeco {
font-family: 'Gloria Hallelujah', cursive;
text-shadow: 2px 2px white;
text-decoration: line-through;
}

.exploitDeco {
font-family: 'Gloria Hallelujah', cursive;
text-shadow: 5px 5px red;
text-decoration: line-through;
}

.ascendDeco {
font-family: 'Gloria Hallelujah', cursive;
text-decoration: overline;
text-shadow: 5px 5px red;
}

.unconcernedDeco{
font-family: 'Gloria Hallelujah', cursive;
text-shadow: 2px 2px white;
text-decoration: line-through;
}

.quote1Deco {
  font-family: 'Walter Turncoat', cursive;
  color: white;
  text-decoration-style: wavy;
  text-decoration: line-through;
  text-decoration-color: red;
}

.quote2Deco {
  font-family: 'Walter Turncoat', cursive;
  color: white;
  text-decoration-style: wavy;
  text-decoration: line-through;
  text-decoration-color: red;
  letter-spacing: 20px;
}

.quote3Deco {
  font-family: 'Walter Turncoat', cursive;
  color: white;
  text-decoration-style: dotted;
  text-decoration: line-through;
  text-decoration-color: red;
}
